@use "../../base/_base" as base;
@use "../../base/_font-mixins" as fonts;

// Pagination Styles
.pagination {
    display: flex;
    align-items: center;
    gap: 16px;
}

.pagination__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: none;
    background: transparent;
    background-color: var(--blue-500);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:disabled {
        cursor: not-allowed;
        background-color: var(--grey-100);
    }

    &:not(:disabled):hover {
        background-color: var(--blue-400);
    }

    i {
        font-size: 20px;
        color: var(--white);
    }
}

.pagination__pages {
    display: flex;
    align-items: center;
    gap: 8px;
}

.pagination__page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 18px;

    @include fonts.text-body;
    @include fonts.font-semibold;
    color: var(--grey-600);

    &:hover {
        background: var(--blue-50);
        color: var(--blue-500);
    }

    &--active {
        background: var(--blue-50);
        color: var(--blue-500);
    }
}
