@use "../../base/_base" as base;
@use "../../base/_font-mixins" as fonts;

.our-services {
    padding-top: 96px;
    padding-bottom: 96px;

    @include base.media-down(laptop) {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    @include base.media-down(tablet) {
        padding-top: 48px;
        padding-bottom: 48px;
    }
}

.our-services__container {
    @include base.container;
}

.our-services__title {
    @include fonts.text-h5;
    @include fonts.font-semibold;
    color: var(--grey-600);
    text-align: center;
    margin-bottom: 15px;
}

.our-services__description-1,
.our-services__description-2 {
    font-size: var(--text-display-3);
    font-weight: var(--font-semibold);
    color: var(--blue-600);
    text-align: center;
    line-height: 1.25;
    margin: 0 auto;
    text-transform: uppercase;

    @include base.media-down(laptop) {
        font-size: var(--text-h1);
    }

    @include base.media-down(mobile) {
        font-size: var(--text-h2);
    }
}
