@use "../../base/_base" as base;
@use "../../base/_font-mixins" as fonts;

.our-services {
    padding-top: 128px;
    padding-bottom: 32px;

    @include base.media-down(laptop) {
        padding-bottom: 64px;
    }

    @include base.media-down(tablet) {
        padding-top: 96px;
        padding-bottom: 48px;
    }

    @include base.media-down(mobile) {
        padding-top: 64px;
        padding-bottom: 36px;
    }
}

.our-services-bg {
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: url("/images/home/our-services/bg-our-services.webp");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;
    }
}

.our-services__container {
    @include base.container;
}

.our-services__title {
    @include fonts.text-h5;
    @include fonts.font-semibold;
    color: var(--grey-600);
    text-align: center;
    margin-bottom: 15px;
}

.our-services__description-1,
.our-services__description-2 {
    @include fonts.text-display-3;
    @include fonts.font-semibold;
    color: var(--blue-600);
    text-align: center;
    line-height: 1.25;
    margin: 0 auto;
    text-transform: uppercase;
    overflow: hidden;
    display: block;

    // @include base.media-down(laptop) {
    //     font-size: var(--text-h1);
    // }

    @include base.media-down(mobile) {
        font-size: var(--text-h3);
    }

    .text-reveal-line {
        display: block;
        text-align: center;
    }
}
