@use "../../base/_base" as base;
@use "../../base/_font-mixins" as fonts;

.social-icons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.social-icons__label {
    @include fonts.text-body;
    @include fonts.font-normal;
    color: var(--grey-800);
}

.social-icons__container {
    display: flex;
    gap: 0.5rem;
}

.social-icons__item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 24px;
    min-height: 24px;
    background-color: var(--blue-500);
    border-radius: 50%;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
    position: relative;

    &:hover {
        background-color: var(--blue-400);
    }
}
