@mixin input-label-float(
    $main-color,
    $border-color,
    $label-color,
    $error-color
) {
    border: 1px solid $border-color;
    border-radius: 12px;
    position: relative;
    padding: 8px 12px {
        top: 19px;
        bottom: 0px;
    }

    &.error {
        border: 1px solid $error-color;
    }

    input {
        width: 100%;
        font-size: 16px;
        border: 0px;
        color: $main-color;
        padding: 8px 0px;
        line-height: 1.5;

        &:focus {
            outline: none;
        }
    }
    label {
        position: absolute;
        top: 16px;
        left: 12px;
        font-size: 16px;
        transition-duration: 0.3s;
        color: $label-color;
    }

    %label-active {
        font-size: 12px;
        top: 8px;
    }

    input:focus + label {
        @extend %label-active;
    }
    input:valid + label {
        @extend %label-active;
    }
}
