//#region remove iOS fk function
%disable-double-tap-zoom {
    touch-action: none;
}

%remove-ios-input-style {
    /* remove ios input style */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
//#endregion remove iOS fk function

//#region animation
@mixin transition($speed) {
    -webkit-transition: all $speed ease-out;
    -moz-transition: all $speed ease-out;
    -o-transition: all $speed ease-out;
    transition: all $speed ease-out;
}
//#endregion animation
